.contact{
    /* border:solid; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    border-radius: 15px;
   width:390px;
   text-align: start;
  height: 220px;
  background: rgb(183,182,192);
background: linear-gradient(39deg, rgba(183,182,192,1) 0%, rgba(253,253,253,1) 29%, rgba(226,226,230,1) 59%, rgba(248,248,249,1) 100%);
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.425);
  padding-top:40px;
  
}
.contact h3{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.contact span{
    font-size: 19px;
    color: red;
    margin-left: 10px;
}
.mod-del{
    display: flex;
    justify-content: center;
    width:300px;
    margin-left: 25px;
}
.mod-del button{
    margin-top: 18px;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
     background: rgb(255,50,50);
background: linear-gradient(39deg, rgba(255,50,50,1) 0%, rgba(209,0,0,1) 32%, rgba(253,65,65,1) 61%, rgba(213,6,6,1) 100%);
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.473);
}